<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-4 col-8">
      <div class="fw-bold text-info text-center">
        <h3>
          <i class="bi bi-person-fill"></i> Sign up Account!
        </h3>
      </div>
      <form (ngSubmit)="onSubmit()" #singupForm="ngForm">
        <div class="mb-3">
          <label for="" class="form-label ">E-mail <i class="text-danger">*</i></label>
          <input type="email" name="email" class="form-control rounded-pill" #email="ngModel" ngModel required email>
          <div *ngIf="!email.valid && email.touched" class="text-danger mt-1">
            Please enter a valid email!
          </div>
        </div>
        <div class="mb-3">
          <label for="" class="form-label ">Password <i class="text-danger">*</i></label>
          <input type="password" name="password" class="form-control rounded-pill" minlength="6" #pass="ngModel" ngModel required>
          <div *ngIf="!pass.valid && pass.touched" class="text-danger mt-1">
            Please enter your password!
          </div>
        </div>
        <div class="mb-3 text-center">
          <button type="submit" class="btn btn-success rounded-pill px-4" [disabled]="!singupForm.valid">Sign up</button>
        </div>
      </form>
      <div class="row m-0">
        <div class="col text-center">
          <a routerLink="/auth/login" class="link-secondary"> Already have an account! </a>
        </div>
      </div>

      <div class="alert alert-danger rounded-3" role="alert" *ngIf="errorMessage">
        <strong>Error Occured!</strong>
        <p>{{errorMessage}}</p>
      </div>
    </div>
  </div>
</div>
