<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success mt-2" [routerLink]="['new']">New Recipe</button>
  </div>
</div>
<hr>
<div class="row overflow-auto p-2 mb-4 max-height-limit" *ngIf="recipes.length !== 0">
  <div class="col-sm-12">
    <app-recipe-item *ngFor="let recipe of recipes; let i = index" [index]="i" [recipeItem]="recipe">
    </app-recipe-item>
  </div>
</div>
<div class="row" *ngIf="recipes.length === 0 && !fetching">
  <div class="col-xs-12">
    <p class="text text-dark fs-3"> Please Add a new Recipe!</p>
  </div>
</div>
<div class="spinner-border" *ngIf="fetching">

</div>
